a {
  background-color: #f2f2f2;
  border: 1px #f2f2f2;
  padding: 2px;
  width: 320px;
}

body {
  background-color: #f2f2f2;
  color: #000000;
}

div {
  height: 250px;
}

h2, h4 {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 200px;
}

img {
  height: 50px;
  width: 50px;
}

.band-box {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px gray;
  display: flex;
  flex-direction: column;
}

.explore {
  margin-left: 20px;
  padding-bottom: 5px;
  padding-top: 30px;
}

.logo-box {
  display: flex;
  justify-content: space-around;
}

.main-logo, h1 {
  font-family: 'Righteous', cursive;
  font-size: 30pt;
}

.main-wrapper {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

.right-head {
  display: flex;
  flex-direction: column;
}

.bauhaus {
  background-image: url('Images/bauhaus.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.blutengel {
  background-image: url('Images/blutengel.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.clan-ox {
  background-image: url('Images/clanofxymox.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.das-ich {
  background-image: url('Images/dasich.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.deine-lakaien {
  background-image: url('Images/deinelakaien.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.fields-otn{
  background-image: url('Images/fieldsotn.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.the-sisters {
  background-image: url('Images/thesisters.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.type-o {
  background-image: url('Images/typeo.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

@media screen and (max-width: 1460px) {
  .main-wrapper {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}
}



